body {
    background-image: url("background.jpg");
}

#note {
    background: aquamarine;
    padding: 15px;
    border-radius: 30%;
    width: 75%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px grey;
    font-size: large;
}

#footer {
    background: grey;
    position: sticky;
    height: 40px;
    color: honeydew;
    margin-top: 450px;
    padding-top: 5px;
}

canvas {
    border-style:ridge;
    border-width: 10px;
    border-radius: 15%;
    width: 350px;
    height: 350px;
    background: paleturquoise;
}